<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_NhanVien.Properties.Settings.QL_NhanVienConnectionString"
            connectionString="Data Source=MINH_NHUT\MINH_NHUT;Initial Catalog=QL_NhanVien;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>